# --- Security ---
.env

# --- Python ---
**/__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
.venv/
env/

# --- IDEs and Tools ---
.vscode/
.idea/
.DS_Store

# Database 
setup_database.sql